In [18]:
import pandas as pd

data = {
    '이름': ['바둑이', '나비', '호랑이'],
    '나이': [5, 3, 10],
}

df = pd.DataFrame(data)
df.index = [1, 2, 3]
df

    이름  나이
1  바둑이   5
2   나비   3
3  호랑이  10

In [4]:
df['이름'].value_counts()

이름
바둑이    1
나비     1
호랑이    1
Name: count, dtype: int64

In [5]:
df['이름'].value_counts(normalize=True)

이름
바둑이    0.333333
나비     0.333333
호랑이    0.333333
Name: proportion, dtype: float64

In [11]:
df['나이'] = pd.cut(df['나이'], 
                  bins = [0, 5, 15], 
                  labels = ['Baby', 'Adult'],
                  right=True)
df

In [19]:
df['나이'] = pd.qcut(df['나이'], 
                  q = 3, 
                  labels = ['A', 'B', 'C'],)

df

    이름 나이
1  바둑이  B
2   나비  A
3  호랑이  C