In [1]:
import pandas as pd

data = {
    '이름': ['바둑이', '나비', '호랑이'],
    '나이': [5, 3, 10],
}

df = pd.DataFrame(data)
df.index = [1, 2, 3]
df

    이름  나이
1  바둑이   5
2   나비   3
3  호랑이  10

In [4]:
df['이름'].value_counts()

이름
바둑이    1
나비     1
호랑이    1
Name: count, dtype: int64

In [5]:
df['이름'].value_counts(normalize=True)

이름
바둑이    0.333333
나비     0.333333
호랑이    0.333333
Name: proportion, dtype: float64

In [11]:
df['나이'] = pd.cut(df['나이'], 
                  bins = [0, 5, 15], 
                  labels = ['Baby', 'Adult'],
                  right=True)
df

In [19]:
df['나이'] = pd.qcut(df['나이'], 
                  q = 3, 
                  labels = ['A', 'B', 'C'],)

df

    이름 나이
1  바둑이  B
2   나비  A
3  호랑이  C

In [24]:
import pandas as pd

data = ['2024-07-01', '2024-07-26', '2024-07-03']
d = pd.DataFrame(data, columns=['date'])
d

         date
0  2024-07-01
1  2024-07-26
2  2024-07-03

In [25]:
week_day = pd.to_datetime(d['date']).dt.day_name()
week_day

0       Monday
1       Friday
2    Wednesday
Name: date, dtype: object

In [26]:
# 날짜를 datetime 형식으로 변환 
d['date'] = pd.to_datetime(d['date'])

d['year'] = d['date'].dt.year
d['month'] = d['date'].dt.month
d['day'] = d['date'].dt.day
d['week_day'] = d['date'].dt.day_name()
d

        date  year  month  day   week_day
0 2024-07-01  2024      7    1     Monday
1 2024-07-26  2024      7   26     Friday
2 2024-07-03  2024      7    3  Wednesday

In [27]:
d['week_day'] = d['date'].dt.dayofweek
d

        date  year  month  day  week_day
0 2024-07-01  2024      7    1         0
1 2024-07-26  2024      7   26         4
2 2024-07-03  2024      7    3         2