In [53]:
import pandas as pd

In [54]:
train = pd.read_csv('datas/recruitment_data.csv')
display(train.head())
display(len(train))

,Age,Gender,EducationLevel,ExperienceYears,PreviousCompanies,DistanceFromCompany,InterviewScore,SkillScore,PersonalityScore,RecruitmentStrategy,HiringDecision
0,26,1,2,0,3,26.783828,48,78,91,1,1
1,39,1,4,12,3,25.862694,35,68,80,2,1
2,48,0,2,3,2,9.920805,20,67,13,2,0
3,34,1,2,5,2,6.407751,36,27,70,3,0
4,30,0,1,6,1,43.105343,23,52,85,2,0

1500

테스트 데이터, 검증 데이터 분할

In [55]:
from sklearn.model_selection import train_test_split

# 특성, 타겟 변수 분리
train_x = train.drop(['HiringDecision'], axis=1)
train_y = train['HiringDecision']

# 학습 데이터, 검증 데이터 분리
X_train, X_valid, y_train, y_valid  = train_test_split(train_x, train_y, test_size=0.2, random_state=10)

# 분리된 데이터 크기 확인
display(X_train.shape)
display(X_valid.shape)

(1200, 10)

(300, 10)

검증 데이터 제외하고 학습 및 예측

In [56]:
from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier

model = DecisionTreeClassifier(random_state=10)
# model = RandomForestClassifier(random_state=10)
model.fit(X_train, y_train)

y_predict = model.predict(X_valid)
y_predict[:5]

array([0, 0, 1, 1, 0], dtype=int64)

성능 평가

In [57]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

cf_mat = confusion_matrix(y_valid, y_predict)
accuracy_diabets_DT =  accuracy_score(y_valid, y_predict)
precision_diabets_DT =  precision_score(y_valid, y_predict)
recall_diabets_DT =  recall_score(y_valid, y_predict)
f1_score_diabets_DT =  f1_score(y_valid, y_predict)

display(f"Accuracy:{accuracy_diabets_DT}")
display(f"precision:{precision_diabets_DT}")
display(f"recall: {recall_diabets_DT}")
display(f"f1_score: {f1_score_diabets_DT}")
display(f"Confusion Matrix: {cf_mat}")

'Accuracy:0.8866666666666667'

'precision:0.7926829268292683'

'recall: 0.7926829268292683'

'f1_score: 0.7926829268292683'

'Confusion Matrix: [[201  17]\n [ 17  65]]'